body {
  font-family: monospace;
  font-style: normal;
  background-color: black;
  color: greenyellow;
  font-size: medium;
}

.terminal-input, .terminal-input:focus {
  background-color: transparent;
  font-style: normal;
  color: greenyellow;
  font-family: monospace;
  outline: none;
  border: none;
  border-width: 0px;
  width: 100%;
  font-size: medium;
  padding: 0px;
}

.terminal-content {
  word-wrap: break-word;
}

.terminal-table, tr, td {
  border-collapse: collapse;
  border: 1px solid greenyellow;
}
